:root {
  --gov_display_l: 6.6rem; /* 66px (rem10 기준) */
  --gov_display_m: 5.0rem;
  --gov_display_s: 4.0rem;

  --gov_mo_display_l: 4.0rem;
  --gov_mo_display_m: 3.2rem;
  --gov_mo_display_s: 2.5rem;

  --gov_lh: 1.5; /* 150% */
  --gov_ls_1: 1px;
}