.fc_g_0 {
  color: var(--g_0) !important;
}

.fc_g_5 {
  color: var(--g_5) !important;
}

.fc_g_10 {
  color: var(--g_10) !important;
}

.fc_g_20 {
  color: var(--g_20) !important;
}

.fc_g_30 {
  color: var(--g_30) !important;
}

.fc_g_40 {
  color: var(--g_40) !important;
}

.fc_g_50 {
  color: var(--g_50) !important;
}

.fc_g_60 {
  color: var(--g_60) !important;
}

.fc_g_70 {
  color: var(--g_70) !important;
}

.fc_g_80 {
  color: var(--g_80) !important;
}

.fc_g_90 {
  color: var(--g_90) !important;
}

.fc_g_95 {
  color: var(--g_95) !important;
}

.fc_g_100 {
  color: var(--g_100) !important;
}

.fc_p_0 {
  color: var(--p_0) !important;
}

.fc_p_5 {
  color: var(--p_5) !important;
}

.fc_p_10 {
  color: var(--p_10) !important;
}

.fc_p_20 {
  color: var(--p_20) !important;
}

.fc_p_30 {
  color: var(--p_30) !important;
}

.fc_p_40 {
  color: var(--p_40) !important;
}

.fc_p_50 {
  color: var(--p_50) !important;
}

.fc_p_60 {
  color: var(--p_60) !important;
}

.fc_p_70 {
  color: var(--p_70) !important;
}

.fc_p_80 {
  color: var(--p_80) !important;
}

.fc_p_90 {
  color: var(--p_90) !important;
}

.fc_p_95 {
  color: var(--p_95) !important;
}

.fc_p_100 {
  color: var(--p_100) !important;
}

.fc_s1_0 {
  color: var(--s1_0) !important;
}

.fc_s1_5 {
  color: var(--s1_5) !important;
}

.fc_s1_10 {
  color: var(--s1_10) !important;
}

.fc_s1_20 {
  color: var(--s1_20) !important;
}

.fc_s1_30 {
  color: var(--s1_30) !important;
}

.fc_s1_40 {
  color: var(--s1_40) !important;
}

.fc_s1_50 {
  color: var(--s1_50) !important;
}

.fc_s1_60 {
  color: var(--s1_60) !important;
}

.fc_s1_70 {
  color: var(--s1_70) !important;
}

.fc_s1_80 {
  color: var(--s1_80) !important;
}

.fc_s1_90 {
  color: var(--s1_90) !important;
}

.fc_s1_95 {
  color: var(--s1_95) !important;
}

.fc_s1_100 {
  color: var(--s1_100) !important;
}

.fc_s2_0 {
  color: var(--s2_0) !important;
}

.fc_s2_5 {
  color: var(--s2_5) !important;
}

.fc_s2_10 {
  color: var(--s2_10) !important;
}

.fc_s2_20 {
  color: var(--s2_20) !important;
}

.fc_s2_30 {
  color: var(--s2_30) !important;
}

.fc_s2_40 {
  color: var(--s2_40) !important;
}

.fc_s2_50 {
  color: var(--s2_50) !important;
}

.fc_s2_60 {
  color: var(--s2_60) !important;
}

.fc_s2_70 {
  color: var(--s2_70) !important;
}

.fc_s2_80 {
  color: var(--s2_80) !important;
}

.fc_s2_90 {
  color: var(--s2_90) !important;
}

.fc_s2_95 {
  color: var(--s2_95) !important;
}

.fc_s2_100 {
  color: var(--s2_100) !important;
}

.fc_a_0 {
  color: var(--a_0) !important;
}

.fc_a_5 {
  color: var(--a_5) !important;
}

.fc_a_10 {
  color: var(--a_10) !important;
}

.fc_a_20 {
  color: var(--a_20) !important;
}

.fc_a_30 {
  color: var(--a_30) !important;
}

.fc_a_40 {
  color: var(--a_40) !important;
}

.fc_a_50 {
  color: var(--a_50) !important;
}

.fc_a_60 {
  color: var(--a_60) !important;
}

.fc_a_70 {
  color: var(--a_70) !important;
}

.fc_a_80 {
  color: var(--a_80) !important;
}

.fc_a_90 {
  color: var(--a_90) !important;
}

.fc_a_95 {
  color: var(--a_95) !important;
}

.fc_a_100 {
  color: var(--a_100) !important;
}

.fc_gb_20 {
  color: var(--gb_20) !important;
}

.fc_gb_40 {
  color: var(--gb_40) !important;
}

.fc_gb_60 {
  color: var(--gb_60) !important;
}

.fc_gb_80 {
  color: var(--gb_80) !important;
}

.fc_gb_100 {
  color: var(--gb_100) !important;
}

.fc_gr_20 {
  color: var(--gr_20) !important;
}

.fc_gr_40 {
  color: var(--gr_40) !important;
}

.fc_gr_60 {
  color: var(--gr_60) !important;
}

.fc_gr_80 {
  color: var(--gr_80) !important;
}

.fc_gr_100 {
  color: var(--gr_100) !important;
}

.fc_d_0 {
  color: var(--d_0) !important;
}

.fc_d_5 {
  color: var(--d_5) !important;
}

.fc_d_10 {
  color: var(--d_10) !important;
}

.fc_d_20 {
  color: var(--d_20) !important;
}

.fc_d_30 {
  color: var(--d_30) !important;
}

.fc_d_40 {
  color: var(--d_40) !important;
}

.fc_d_50 {
  color: var(--d_50) !important;
}

.fc_d_60 {
  color: var(--d_60) !important;
}

.fc_d_70 {
  color: var(--d_70) !important;
}

.fc_d_80 {
  color: var(--d_80) !important;
}

.fc_d_90 {
  color: var(--d_90) !important;
}

.fc_d_95 {
  color: var(--d_95) !important;
}

.fc_d_100 {
  color: var(--d_100) !important;
}

.fc_w_0 {
  color: var(--w_0) !important;
}

.fc_w_5 {
  color: var(--w_5) !important;
}

.fc_w_10 {
  color: var(--w_10) !important;
}

.fc_w_20 {
  color: var(--w_20) !important;
}

.fc_w_30 {
  color: var(--w_30) !important;
}

.fc_w_40 {
  color: var(--w_40) !important;
}

.fc_w_50 {
  color: var(--w_50) !important;
}

.fc_w_60 {
  color: var(--w_60) !important;
}

.fc_w_70 {
  color: var(--w_70) !important;
}

.fc_w_80 {
  color: var(--w_80) !important;
}

.fc_w_90 {
  color: var(--w_90) !important;
}

.fc_w_95 {
  color: var(--w_95) !important;
}

.fc_w_100 {
  color: var(--w_100) !important;
}

.fc_su_0 {
  color: var(--su_0) !important;
}

.fc_su_5 {
  color: var(--su_5) !important;
}

.fc_su_10 {
  color: var(--su_10) !important;
}

.fc_su_20 {
  color: var(--su_20) !important;
}

.fc_su_30 {
  color: var(--su_30) !important;
}

.fc_su_40 {
  color: var(--su_40) !important;
}

.fc_su_50 {
  color: var(--su_50) !important;
}

.fc_su_60 {
  color: var(--su_60) !important;
}

.fc_su_70 {
  color: var(--su_70) !important;
}

.fc_su_80 {
  color: var(--su_80) !important;
}

.fc_su_90 {
  color: var(--su_90) !important;
}

.fc_su_95 {
  color: var(--su_95) !important;
}

.fc_su_100 {
  color: var(--su_100) !important;
}

.fc_i_0 {
  color: var(--i_0) !important;
}

.fc_i_5 {
  color: var(--i_5) !important;
}

.fc_i_10 {
  color: var(--i_10) !important;
}

.fc_i_20 {
  color: var(--i_20) !important;
}

.fc_i_30 {
  color: var(--i_30) !important;
}

.fc_i_40 {
  color: var(--i_40) !important;
}

.fc_i_50 {
  color: var(--i_50) !important;
}

.fc_i_60 {
  color: var(--i_60) !important;
}

.fc_i_70 {
  color: var(--i_70) !important;
}

.fc_i_80 {
  color: var(--i_80) !important;
}

.fc_i_90 {
  color: var(--i_90) !important;
}

.fc_i_95 {
  color: var(--i_95) !important;
}

.fc_i_100 {
  color: var(--i_100) !important;
}

.bgc_g_0 {
  background-color: var(--g_0) !important;
}

.bgc_g_5 {
  background-color: var(--g_5) !important;
}

.bgc_g_10 {
  background-color: var(--g_10) !important;
}

.bgc_g_20 {
  background-color: var(--g_20) !important;
}

.bgc_g_30 {
  background-color: var(--g_30) !important;
}

.bgc_g_40 {
  background-color: var(--g_40) !important;
}

.bgc_g_50 {
  background-color: var(--g_50) !important;
}

.bgc_g_60 {
  background-color: var(--g_60) !important;
}

.bgc_g_70 {
  background-color: var(--g_70) !important;
}

.bgc_g_80 {
  background-color: var(--g_80) !important;
}

.bgc_g_90 {
  background-color: var(--g_90) !important;
}

.bgc_g_95 {
  background-color: var(--g_95) !important;
}

.bgc_g_100 {
  background-color: var(--g_100) !important;
}

.bgc_p_0 {
  background-color: var(--p_0) !important;
}

.bgc_p_5 {
  background-color: var(--p_5) !important;
}

.bgc_p_10 {
  background-color: var(--p_10) !important;
}

.bgc_p_20 {
  background-color: var(--p_20) !important;
}

.bgc_p_30 {
  background-color: var(--p_30) !important;
}

.bgc_p_40 {
  background-color: var(--p_40) !important;
}

.bgc_p_50 {
  background-color: var(--p_50) !important;
}

.bgc_p_60 {
  background-color: var(--p_60) !important;
}

.bgc_p_70 {
  background-color: var(--p_70) !important;
}

.bgc_p_80 {
  background-color: var(--p_80) !important;
}

.bgc_p_90 {
  background-color: var(--p_90) !important;
}

.bgc_p_100 {
  background-color: var(--p_100) !important;
}

.bgc_s_0 {
  background-color: var(--s1_0) !important;
}

.bgc_s_5 {
  background-color: var(--s1_5) !important;
}

.bgc_s_10 {
  background-color: var(--s1_10) !important;
}

.bgc_s_20 {
  background-color: var(--s1_20) !important;
}

.bgc_s_30 {
  background-color: var(--s1_30) !important;
}

.bgc_s_40 {
  background-color: var(--s1_40) !important;
}

.bgc_s_50 {
  background-color: var(--s1_50) !important;
}

.bgc_s_60 {
  background-color: var(--s1_60) !important;
}

.bgc_s_70 {
  background-color: var(--s1_70) !important;
}

.bgc_s_80 {
  background-color: var(--s1_80) !important;
}

.bgc_s_90 {
  background-color: var(--s1_90) !important;
}

.bgc_s_95 {
  background-color: var(--s1_95) !important;
}

.bgc_s_100 {
  background-color: var(--s1_100) !important;
}

.bgc_s2_0 {
  background-color: var(--s2_0) !important;
}

.bgc_s2_5 {
  background-color: var(--s2_5) !important;
}

.bgc_s2_10 {
  background-color: var(--s2_10) !important;
}

.bgc_s2_20 {
  background-color: var(--s2_20) !important;
}

.bgc_s2_30 {
  background-color: var(--s2_30) !important;
}

.bgc_s2_40 {
  background-color: var(--s2_40) !important;
}

.bgc_s2_50 {
  background-color: var(--s2_50) !important;
}

.bgc_s2_60 {
  background-color: var(--s2_60) !important;
}

.bgc_s2_70 {
  background-color: var(--s2_70) !important;
}

.bgc_s2_80 {
  background-color: var(--s2_80) !important;
}

.bgc_s2_90 {
  background-color: var(--s2_90) !important;
}

.bgc_s2_95 {
  background-color: var(--s2_95) !important;
}

.bgc_s2_100 {
  background-color: var(--s2_100) !important;
}

.bgc_a_0 {
  background-color: var(--a_0) !important;
}

.bgc_a_5 {
  background-color: var(--a_5) !important;
}

.bgc_a_10 {
  background-color: var(--a_10) !important;
}

.bgc_a_20 {
  background-color: var(--a_20) !important;
}

.bgc_a_30 {
  background-color: var(--a_30) !important;
}

.bgc_a_40 {
  background-color: var(--a_40) !important;
}

.bgc_a_50 {
  background-color: var(--a_50) !important;
}

.bgc_a_60 {
  background-color: var(--a_60) !important;
}

.bgc_a_70 {
  background-color: var(--a_70) !important;
}

.bgc_a_80 {
  background-color: var(--a_80) !important;
}

.bgc_a_90 {
  background-color: var(--a_90) !important;
}

.bgc_a_95 {
  background-color: var(--a_95) !important;
}

.bgc_a_100 {
  background-color: var(--a_100) !important;
}

.bgc_gb_20 {
  background-color: var(--gb_20) !important;
}

.bgc_gb_40 {
  background-color: var(--gb_40) !important;
}

.bgc_gb_60 {
  background-color: var(--gb_60) !important;
}

.bgc_gb_80 {
  background-color: var(--gb_80) !important;
}

.bgc_gb_100 {
  background-color: var(--gb_100) !important;
}

.bgc_gr_20 {
  background-color: var(--gr_20) !important;
}

.bgc_gr_40 {
  background-color: var(--gr_40) !important;
}

.bgc_gr_60 {
  background-color: var(--gr_60) !important;
}

.bgc_gr_80 {
  background-color: var(--gr_80) !important;
}

.bgc_gr_100 {
  background-color: var(--gr_100) !important;
}

.bgc_d_0 {
  background-color: var(--d_0) !important;
}

.bgc_d_5 {
  background-color: var(--d_5) !important;
}

.bgc_d_10 {
  background-color: var(--d_10) !important;
}

.bgc_d_20 {
  background-color: var(--d_20) !important;
}

.bgc_d_30 {
  background-color: var(--d_30) !important;
}

.bgc_d_40 {
  background-color: var(--d_40) !important;
}

.bgc_d_50 {
  background-color: var(--d_50) !important;
}

.bgc_d_60 {
  background-color: var(--d_60) !important;
}

.bgc_d_70 {
  background-color: var(--d_70) !important;
}

.bgc_d_80 {
  background-color: var(--d_80) !important;
}

.bgc_d_90 {
  background-color: var(--d_90) !important;
}

.bgc_d_95 {
  background-color: var(--d_95) !important;
}

.bgc_d_100 {
  background-color: var(--d_100) !important;
}

.bgc_w_0 {
  background-color: var(--w_0) !important;
}

.bgc_w_5 {
  background-color: var(--w_5) !important;
}

.bgc_w_10 {
  background-color: var(--w_10) !important;
}

.bgc_w_20 {
  background-color: var(--w_20) !important;
}

.bgc_w_30 {
  background-color: var(--w_30) !important;
}

.bgc_w_40 {
  background-color: var(--w_40) !important;
}

.bgc_w_50 {
  background-color: var(--w_50) !important;
}

.bgc_w_60 {
  background-color: var(--w_60) !important;
}

.bgc_w_70 {
  background-color: var(--w_70) !important;
}

.bgc_w_80 {
  background-color: var(--w_80) !important;
}

.bgc_w_90 {
  background-color: var(--w_90) !important;
}

.bgc_w_95 {
  background-color: var(--w_95) !important;
}

.bgc_w_100 {
  background-color: var(--w_100) !important;
}

.bgc_su_0 {
  background-color: var(--su_0) !important;
}

.bgc_su_5 {
  background-color: var(--su_5) !important;
}

.bgc_su_10 {
  background-color: var(--su_10) !important;
}

.bgc_su_20 {
  background-color: var(--su_20) !important;
}

.bgc_su_30 {
  background-color: var(--su_30) !important;
}

.bgc_su_40 {
  background-color: var(--su_40) !important;
}

.bgc_su_50 {
  background-color: var(--su_50) !important;
}

.bgc_su_60 {
  background-color: var(--su_60) !important;
}

.bgc_su_70 {
  background-color: var(--su_70) !important;
}

.bgc_su_80 {
  background-color: var(--su_80) !important;
}

.bgc_su_90 {
  background-color: var(--su_90) !important;
}

.bgc_su_95 {
  background-color: var(--su_95) !important;
}

.bgc_su_100 {
  background-color: var(--su_100) !important;
}

.bgc_i_0 {
  background-color: var(--i_0) !important;
}

.bgc_i_5 {
  background-color: var(--i_5) !important;
}

.bgc_i_10 {
  background-color: var(--i_10) !important;
}

.bgc_i_20 {
  background-color: var(--i_20) !important;
}

.bgc_i_30 {
  background-color: var(--i_30) !important;
}

.bgc_i_40 {
  background-color: var(--i_40) !important;
}

.bgc_i_50 {
  background-color: var(--i_50) !important;
}

.bgc_i_60 {
  background-color: var(--i_60) !important;
}

.bgc_i_70 {
  background-color: var(--i_70) !important;
}

.bgc_i_80 {
  background-color: var(--i_80) !important;
}

.bgc_i_90 {
  background-color: var(--i_90) !important;
}

.bgc_i_95 {
  background-color: var(--i_95) !important;
}

.bgc_i_100 {
  background-color: var(--i_100) !important;
}
